.square {
    width: 100px;
    height: 100px;
    font-size: 24px;
  }
  
  .square.x {
    background-color: rgb(13, 83, 233);
  }
  
  .square.o {
    background-color: rgb(226, 241, 8);
  }
  .square.win{
    background-color: crimson;
  }
  